html,body{
    height:100%;
    margin:0}

.toolbar {
        max-width: 300px;
        font-size: 12px;}

.toolbar button {
    margin: 2px;
    padding: 4px 8px;
    font-size: 11px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
    cursor: pointer;}
    
.toolbar button:hover {
    background: #f0f0f0;}

/* preview{
    stroke:#111827;
    stroke-width:3;
    stroke-linecap:round;
    cursor:pointer
} */

svg{width:100%;
    height:100%;
    display:block;
    background:linear-gradient(180deg,#f8fafc,#eef2f7)}

line.user-line{stroke:#111827;
    stroke-width:3;
    stroke-linecap:round;
    cursor:pointer}

line.preview{stroke:#2563eb;
    stroke-width:2;
    stroke-dasharray:6 4;
    pointer-events:none}

line.handle{
    fill:#f87171;
    stroke:#b91c1c;
    stroke-width:4;
    stroke-linecap: round;
    cursor:move}


line.tickmark{
    fill:#f87171;
    stroke:#000000;
    stroke-width:2;
    stroke-linecap: round;
    cursor:move}

.hint{
    font-size:13px;
    color:#374151}

button{
    margin-left:8px
}


.toolbar2 {
    max-width: 300px;
    font-size: 12px;
    }
    
    .toolbar2 button {
    margin: 2px;
    padding: 4px 8px;
    font-size: 11px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    }
    
    .toolbar2 button:hover {
    background: #f0f0f0;
    }